body {
    width: 794px;
    height: 1123px;
    background-color: #FAF9F6;
    border-color: #008080;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.top-section img {
    border-radius: 100px;
    width: 20%;
}

.top-section text-block {
    width: 60%;
    color: black;

}

h1 {
    font-size: 55px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

.title {
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 40%;
}

h2 {
    font-size: 20px;
    background-color: #008080;
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 0px;
}

.career {
    text-align: justify;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.education {
    margin: 5px;
}

.experience-heading {
    font-size: 20px;
    background-color: #008080;
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: 0px;
    margin-left: 20px;
}

.last-section {
    margin-left: 20px;
}