@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0F0E0E;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #0F0E0E;

}


.navbar>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: oklch(70.8% 0 0);
}



.navbar>ul>li {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.navbar ul li {
    margin-right: 28px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #B3B3B3;
}

.navbar ul li:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: linear-gradient(to right, aqua, blue, purple);
    text-underline-offset:10px;
}

.drop-down {
    display: none;
    list-style-type: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
    margin: 0;
    min-width: 240px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

.drop-down li {
    padding: 12px 16px;
    color: black;
    white-space: nowrap;
}

.drop-down li:hover {
    background: #f1f1f1;
}

.services:hover .drop-down {
    display: flex;
}

.Header {
    display: flex;
    color: #f1f1f1;
}

.text-block {
    height: 90vh;
    text-align: left;
    justify-content: center;
    padding: auto;
    margin: auto;
    height: 100%;
}