/*.container{
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: wheat;
}

.fields{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#name{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
}

#gender{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
}

#add{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
    background-color: green;

}

#TODO {
    background-color: aliceblue;
    border: 5px outset lightgrey;
    width: 100%;
    height: auto;
    padding: 10px;
}



#TODO td {
    border: 1px inset lightgray;
    padding:5px;
    margin:3px;
    text-align: center;
    
}

.header {
    background-color: lightgreen;
    color: black;
}*/



/*Practice question for Gemini*/

.container{
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: lightgray;

}

.fields{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#Itname{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
}

#quantity{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
}

#add{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px outset gray;
    background-color: gray;
}

#items{
    width: 100%;
    height: auto;
    padding: 10px;
    border: 5px outset lightgray;
    background-color: aliceblue;
}

#items td{
    border: 1px inset lightgray;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

.header{
    background-color: lightgreen;
    color: black;
}

.error{
    border: 2px solid red !important;
}
    
.ajax{
    text-decoration: underline;
    text-decoration-color: red;
    color: blue;
    cursor: pointer;
    font-size: 34px;

}